extends base

block content
  if errorMessage 
    span=errorMessage
  img(src='/'+loggedInUser.avatarUrl, alt="" width=100)
  form(method="POST" enctype="multipart/form-data")
    //-  encoding type을 multipart/form-data 형식으로 보낼 것이다.
    label(for="avatar") Avatar 
    input(type="file" id="avatar" name="avatar" accept="image/*")
    input(name="email" type="email" required placeholder="Email" value=loggedInUser.email)
    input(name="name" type="text" required placeholder="Name" value=loggedInUser.name)
    input(name="username" type="text" required placeholder="Username" value=loggedInUser.username) 
    input(name="location" type="text" required placeholder="Location" value=loggedInUser.location)
    input(type="submit" value="Update Profile")
    if !loggedInUser.socialOnly 
      hr
      a(href="change-password") Change Password &rarr;
    //- not using absolute url. here it's relative url!
    //- 이렇게 사용하면 localhost:4000/users/change-password로 링크로 넘어간다.
    //- absolute url (/change-password) 사용하면 localhost:4000/change-password가 된다.